Repository openstack-archive/validations-libs: changes, and which Zuul jobs are due for each by the changed paths.
All: validations-libs-functional, openstack-tox-docs, promote-openstack-tox-docs, tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

validations-libs-functional:
  parent: devstack
  run: playbooks/validations-libs-functional.yaml
  post-run: playbooks/post.yaml
  timeout: 7200
  required-projects:
  - openstack/validations-libs
  - openstack/validations-common
  vars:
    devstack_localrc:
      USE_PYTHON3: true

tripleo-ci-centos-8-containers-multinode:
  dependencies:
  - openstack-tox-linters

tripleo-ci-centos-8-standalone:
  dependencies:
  - openstack-tox-linters

Add Docstrings to validations_libs/validation_action.py file
  validations_libs/validation_actions.py
Due: validations-libs-functional, openstack-tox-docs, promote-openstack-tox-docs, tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

Add Docstrings to validations_libs/validations_logs.py file
  validations_libs/tests/test_validation_log.py
  validations_libs/validation_logs.py
Due: validations-libs-functional, openstack-tox-docs, promote-openstack-tox-docs, tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

Add Docstrings to validations_libs/ansible.py file
  validations_libs/ansible.py
Due: validations-libs-functional, openstack-tox-docs, promote-openstack-tox-docs, tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

Update TOX_CONSTRAINTS_FILE
  tox.ini
Due: validations-libs-functional

Handle unreachable case in the log statistics
  validations_libs/tests/fakes.py
  validations_libs/tests/test_validation_log.py
  validations_libs/validation_logs.py
Due: validations-libs-functional, openstack-tox-docs, promote-openstack-tox-docs, tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

Bump pre-commit-hooks to v3.3.0
  .pre-commit-config.yaml
  validations_libs/validation_logs.py
Due: validations-libs-functional, openstack-tox-docs, promote-openstack-tox-docs, tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

The lower constraint file has been removed
  .zuul.yaml
  lower-constraints.txt
  tox.ini
Due: validations-libs-functional

Make the measuring code coverage test working
  .coveragerc
  .gitignore
  .stestr.conf
  .zuul.yaml
  test-requirements.txt
  tox.ini
Due: validations-libs-functional

Handle dynamically the ansible artifacts dir path
  validations_libs/ansible.py
  validations_libs/constants.py
  validations_libs/tests/test_ansible.py
  validations_libs/validation_actions.py
Due: validations-libs-functional, openstack-tox-docs, promote-openstack-tox-docs, tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

Move ansible-runner version to 1.4.0
  requirements.txt
  validations_libs/ansible.py
  validations_libs/tests/test_ansible.py
Due: validations-libs-functional, openstack-tox-docs, promote-openstack-tox-docs, tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

Fix typo in validations_libs/ansible.py
  validations_libs/ansible.py
Due: validations-libs-functional, openstack-tox-docs, promote-openstack-tox-docs, tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

Dockerfile for installing Validation Framework in a CentOS container
  Dockerfile
  README.rst
Due: validations-libs-functional, openstack-tox-docs, promote-openstack-tox-docs

Local vars were redefining builtins
  validations_libs/tests/test_validation_actions.py
  validations_libs/validation.py
  validations_libs/validation_actions.py
  validations_libs/validation_logs.py
Due: validations-libs-functional, openstack-tox-docs, promote-openstack-tox-docs, tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

Allow to provide different stdout callback to the libs
  validations_libs/ansible.py
  validations_libs/tests/test_ansible.py
  validations_libs/validation_actions.py
Due: validations-libs-functional, openstack-tox-docs, promote-openstack-tox-docs, tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

Removed unnecessary second check.
  validations_libs/ansible.py
Due: validations-libs-functional, openstack-tox-docs, promote-openstack-tox-docs, tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

Style adjustment of a constant.
  validations_libs/ansible.py
Due: validations-libs-functional, openstack-tox-docs, promote-openstack-tox-docs, tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

OrderedDict can be constructed directly from dict instance
  validations_libs/validation.py
Due: validations-libs-functional, openstack-tox-docs, promote-openstack-tox-docs, tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

Removed explicit inheritance from object
  validations_libs/ansible.py
  validations_libs/group.py
  validations_libs/validation.py
  validations_libs/validation_actions.py
  validations_libs/validation_logs.py
Due: validations-libs-functional, openstack-tox-docs, promote-openstack-tox-docs, tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

Secondary loop removed. params_only dict now uses update method.
  validations_libs/validation_actions.py
Due: validations-libs-functional, openstack-tox-docs, promote-openstack-tox-docs, tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

One of the two nested calls of os.path.join was redundant.
  validations_libs/ansible.py
Due: validations-libs-functional, openstack-tox-docs, promote-openstack-tox-docs, tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

Add an error message when groups is not found in the playbook
  validations_libs/utils.py
Due: validations-libs-functional, openstack-tox-docs, promote-openstack-tox-docs, tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

Add new test for the parse_all_validations_on_disk
  validations_libs/tests/test_utils.py
Due: validations-libs-functional, openstack-tox-docs, promote-openstack-tox-docs

Improved Dockefile and simplified use instructions.
  Dockerfile
  README.rst
Due: validations-libs-functional, openstack-tox-docs, promote-openstack-tox-docs

Docker image refinement and preparation for future development.
  .dockerignore
  README.rst
  dockerfiles/localvalidations/Dockerfile
  dockerfiles/localvalidations/README.rst
Due: validations-libs-functional, openstack-tox-docs, promote-openstack-tox-docs

show command now properly uses list of validations
  validations_libs/tests/test_validation_actions.py
  validations_libs/validation_actions.py
Due: validations-libs-functional, openstack-tox-docs, promote-openstack-tox-docs, tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

Modifies README.rst to reference podman.
  README.rst
Due: openstack-tox-docs, promote-openstack-tox-docs

Add skip list option in order to provide a black list for validation
  validations_libs/tests/test_validation_actions.py
  validations_libs/validation_actions.py
Due: validations-libs-functional, openstack-tox-docs, promote-openstack-tox-docs, tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

Return absolute path for inventory
  validations_libs/ansible.py
  validations_libs/tests/test_ansible.py
Due: validations-libs-functional, openstack-tox-docs, promote-openstack-tox-docs, tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

Moving doc structure closer to that in validations-commons.
  CONTRIBUTING.rst
  README.rst
  doc/requirements.txt
  doc/source/_exts/ansible-autodoc.py
  doc/source/conf.py
  doc/source/contributing.rst
  doc/source/contributor/index.rst
  doc/source/index.rst
  doc/source/readme.rst
  doc/source/testing.rst
  releasenotes/notes/.gitkeep
  releasenotes/source/_static/.gitkeep
  releasenotes/source/conf.py
  releasenotes/source/index.rst
  releasenotes/source/unreleased.rst
  releasenotes/source/ussuri.rst
  setup.cfg
  tox.ini
Due: validations-libs-functional, openstack-tox-docs, promote-openstack-tox-docs

Fix the syntax for groups in documentation.
  validations_libs/validation.py
Due: validations-libs-functional, openstack-tox-docs, promote-openstack-tox-docs, tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

Refactor the groups property in Validation class.
  validations_libs/validation.py
Due: validations-libs-functional, openstack-tox-docs, promote-openstack-tox-docs, tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

Remove the condition to check the groups.
  validations_libs/tests/test_utils.py
  validations_libs/utils.py
Due: validations-libs-functional, openstack-tox-docs, promote-openstack-tox-docs, tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

Default to current user dir for log creation and management
  validations_libs/constants.py
Due: validations-libs-functional, openstack-tox-docs, promote-openstack-tox-docs, tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

Fixes string formatting of the error msg log
  validations_libs/utils.py
Due: validations-libs-functional, openstack-tox-docs, promote-openstack-tox-docs, tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

Expose callback_whitelist option to Run action
  validations_libs/ansible.py
  validations_libs/tests/test_validation_actions.py
  validations_libs/validation_actions.py
Due: validations-libs-functional, openstack-tox-docs, promote-openstack-tox-docs, tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

Expanded and increased strictness of the ansible.py tests
  validations_libs/tests/test_ansible.py
Due: validations-libs-functional, openstack-tox-docs, promote-openstack-tox-docs

Zuul runs tests in py36 only
  .zuul.yaml
  tox.ini
Due: validations-libs-functional

Add basic standalone job w/ validate-services true
  .zuul.yaml
Due: validations-libs-functional

Add vars to tripleo-ci-centos-8-standalone-validation-libs job
  .zuul.yaml
Due: validations-libs-functional

Expose ansible ssh_user variable to the run action
  validations_libs/ansible.py
  validations_libs/tests/test_validation_actions.py
  validations_libs/validation_actions.py
Due: validations-libs-functional, openstack-tox-docs, promote-openstack-tox-docs, tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

Path conditions:
  validations-libs-functional: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-tox-docs: (any of: ^doc/.*, ^README.rst, ^validations_libs/.*) or (any of: ^doc/.*, ^README.rst)
  promote-openstack-tox-docs: (any of: ^doc/.*, ^README.rst, ^validations_libs/.*) or (any of: ^doc/.*, ^README.rst)
  tripleo-ci-centos-8-containers-multinode: (any of: ^validations_libs/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, .*.ini$, ^validations_libs/tests/.*)
  tripleo-ci-centos-8-standalone: (any of: ^validations_libs/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, .*.ini$, ^validations_libs/tests/.*)
