Repository openstack-archive/validations-libs: changes, and which Zuul jobs are due for each by the changed paths.
All: openstack-tox-docs, tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone, promote-openstack-tox-docs

tripleo-ci-centos-8-containers-multinode:
  dependencies:
  - openstack-tox-linters

tripleo-ci-centos-8-standalone:
  dependencies:
  - openstack-tox-linters

Handle multiple validation logs results
  validations_libs/tests/test_validation_logs.py
  validations_libs/validation_actions.py
  validations_libs/validation_logs.py
Due: tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

Switch to newer openstackdocstheme and reno versions
  doc/requirements.txt
  doc/source/conf.py
  lower-constraints.txt
  test-requirements.txt
Due: openstack-tox-docs, promote-openstack-tox-docs

Add asynchronous option to validation libs
  validations_libs/ansible.py
  validations_libs/tests/test_ansible.py
  validations_libs/validation_actions.py
  validations_libs/validation_logs.py
Due: tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

Catch value error when extract log info from log name
  validations_libs/tests/test_validation_log.py
  validations_libs/validation_logs.py
Due: tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

Raise exception if no validation is found
  validations_libs/tests/test_validation_actions.py
  validations_libs/validation_actions.py
Due: tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

Avoid None value when missing data in ansible log
  validations_libs/tests/fakes.py
  validations_libs/tests/test_validation_log.py
  validations_libs/validation_logs.py
Due: tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

Filter get_all_log_file by extension
  validations_libs/tests/test_validation_log.py
  validations_libs/tests/test_validation_logs.py
  validations_libs/validation_actions.py
  validations_libs/validation_logs.py
Due: tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

Add base_dir param to override the constants value easily
  validations_libs/ansible.py
Due: tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

Remove playbook param from run_validation
  validations_libs/tests/test_validation_actions.py
  validations_libs/validation_actions.py
Due: tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

Update openstackdocstheme.
  doc/requirements.txt
Due: openstack-tox-docs, promote-openstack-tox-docs

Change zuul config for functional CI execution
  .zuul.yaml
  playbooks/legacy/validations-dsvm-functional/post.yaml
  playbooks/legacy/validations-dsvm-functional/run.yaml
  playbooks/legacy/validations-dsvm-functional/setup.yaml
  playbooks/legacy/validations-dsvm-functional/validations.yaml
  zuul.d/layout.yaml
Due: none

Show history by play and add get status action
  validations_libs/tests/fakes.py
  validations_libs/tests/test_validation_actions.py
  validations_libs/tests/test_validation_log.py
  validations_libs/validation_actions.py
  validations_libs/validation_logs.py
Due: tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

Switch legacy Zuul jobs to native Zuul v3 jobs
  .zuul.yaml
  playbooks/legacy/validations-dsvm-functional/post.yaml
  playbooks/legacy/validations-dsvm-functional/run.yaml
  playbooks/legacy/validations-dsvm-functional/setup.yaml
  playbooks/post.yaml
  playbooks/validations-libs-functional.yaml
  roles/fetch-validations/defaults/main.yaml
  roles/fetch-validations/tasks/main.yaml
  roles/validations/defaults/main.yaml
  roles/validations/tasks/main.yaml
  roles/validations/tasks/validations.yaml
Due: none

Add a way to override the default validation log path
  validations_libs/ansible.py
  validations_libs/validation_actions.py
Due: tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

Update validation path with the share/ansible one
  roles/validations/defaults/main.yaml
  validations_libs/constants.py
Due: tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

Add lower ansible-runner version as requirements for train
  lower-constraints.txt
  requirements.txt
Due: none

Allow to set python interper for ansible execution
  validations_libs/ansible.py
  validations_libs/validation_actions.py
Due: tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

Fix lower-constraints errors
  bindep.txt
  lower-constraints.txt
  requirements.txt
  test-requirements.txt
Due: none

Remove install unnecessary packages
  tox.ini
Due: none

Add the documentation build back in the CI
  .zuul.yaml
Due: none

Install CI roles into ansible roles dir
  setup.cfg
Due: none

Add ansible dependency
  requirements.txt
Due: none

Fix show validation stats with correct number
  validations_libs/tests/test_validation_actions.py
  validations_libs/validation_actions.py
Due: tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

Add parameters values to the validation show command
  validations_libs/tests/test_utils.py
  validations_libs/tests/test_validation_actions.py
  validations_libs/utils.py
Due: tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

Remove CI roles from validations-libs
  playbooks/post.yaml
  playbooks/validations-libs-functional.yaml
  roles/fetch-validations/defaults/main.yaml
  roles/fetch-validations/tasks/main.yaml
  roles/validations/defaults/main.yaml
  roles/validations/tasks/main.yaml
  roles/validations/tasks/validations.yaml
  setup.cfg
Due: none

[Validator Run] Detect unknown validations from the command-line
  validations_libs/validation_actions.py
Due: tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

add Vagrantfile for Validation Framework dev work
  README.rst
  Vagrantfile.centos
  Vagrantfile.ubuntu
Due: openstack-tox-docs, promote-openstack-tox-docs

Fix parameters management
  validations_libs/tests/test_utils.py
  validations_libs/tests/test_validation_actions.py
  validations_libs/utils.py
  validations_libs/validation_actions.py
Due: tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

Ensure we're using proper types for validation_name and _id
  validations_libs/utils.py
  validations_libs/validation_actions.py
Due: tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

Don't rely on parameter file extension for downloading
  .zuul.yaml
  validations_libs/tests/test_validation_actions.py
  validations_libs/validation_actions.py
Due: tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

Add better conversion of string parameters into a list
  validations_libs/tests/test_utils.py
  validations_libs/utils.py
  validations_libs/validation_actions.py
Due: tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

Remove output format test in utils.get_validations_parameters
  validations_libs/tests/test_utils.py
  validations_libs/utils.py
  validations_libs/validation_actions.py
Due: tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

Add docstrings to utils.py
  validations_libs/tests/test_utils.py
  validations_libs/utils.py
Due: tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

Enforce the way we encapsulate a Validation
  validations_libs/tests/fakes.py
  validations_libs/tests/test_validation.py
  validations_libs/validation.py
Due: tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

Add Docstrings to validations_libs/group.py file
  validations_libs/group.py
Due: tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

Path conditions:
  openstack-tox-docs: any of: ^doc/.*, ^README.rst
  tripleo-ci-centos-8-containers-multinode: (any of: ^validations_libs/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, .*.ini$, ^validations_libs/tests/.*)
  tripleo-ci-centos-8-standalone: (any of: ^validations_libs/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, .*.ini$, ^validations_libs/tests/.*)
  promote-openstack-tox-docs: any of: ^doc/.*, ^README.rst
